body {
  margin: 0 auto;
  padding: 0 auto;
  background-image: url("https://cdn3.vox-cdn.com/uploads/chorus_asset/file/7760139/60th_Floor_South_View.jpg"); /* Adjust the path as necessary */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating the image */
}

.payment-received {
  color: #65b741;
}

.container {
  padding: 6rem;
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
}

.general-box {
  border: 1px solid rgb(148, 148, 148);
  border-radius: 0.5rem;
  background-image: linear-gradient(to bottom right, white 40%, #ebebeb);
  padding: 3rem 4rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.tenant-container {
  padding: 6rem;
  max-width: 650px;
  width: auto;
  margin: auto;
}

button {
  margin: 0 1rem;
}
